<?php
/**
 * @var \{{ namespace }}\View\AppView $this
 * @var \{{ entityClass }} ${{ singularVar }}
 */
?>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
        {% element 'form' %}
    </div>
</div>

